.account-page-container{
    width: 100%;
    min-height: 100vh;
   
    display: flex;
    flex-direction: column;
    padding: 20px 100px 20px 100px;
    gap: 40px;
}
#account-name{
    color: #275143;
    font-weight: bold;
}
.personal{
    height: 30vh;
    width: 100%;
    border: 2px #275143 solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #7E9F94;
}
.wishlist ,.favorites,.subscriptions{
    height: 30vh;
    width: 100%;
    border: 2px #275143 solid;
    border-radius: 10px;
    background-color: #7E9F94;
    padding-left: 30px;
    padding-top: 20px;
}


.info-container{
    margin-top: 10px;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-weight: bold;
    color: white;
    
}

.address-t{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}


.card-info-label{
    grid-column-start: 2;
    grid-column-end: 3;  
    display: flex;
    flex-direction: row;
}

.credential-container,.credential-container-t{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.credential-container-t{
    display: none;
}
.tb{
    height: 24px;
}
.name-label,.number-label,.exp-date-label{
    grid-column-start: 1;
}
.card-name,.card-info,.exp-date{
    grid-column-start: 2;
}
.card-name{
    grid-row-start: 1;
}
.exp-date{
    grid-row-start: 3;
}
.address ,.address-t{
grid-row-start: 2;
font-weight: lighter;
}
.card-info{
    grid-row-start: 2;
}
.sect-headers{
    font-weight: bold;
    color: white;
    font-size: 32px;
}
.sub-items-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    margin-top: 16px;
    gap: 40px;
}
.header-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
label{
    font-size: 22px;
    color: #275143;
}
.checkbox{
    height: 25px;
    width: 25px;
    vertical-align: text-bottom;
}
.check-container{
    grid-column-start: 5;
   

}
.edit{
    margin-left: 25px;
    width: 20px;
    height: 20px;
}
#addressInput{
   height: 24px;
}

.personal-info-label{
    font-size: 30px;
}
.address-container{
grid-column-start:1 ;
height: 22vh;

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
padding-left: 10px;
}
.address-label-c{
    grid-column-start: 1;
    grid-column-end: 3;
    
    font-size: 24px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}
.non-edit-a,.non-edit-b{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.editable-a,.editable-b{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;  
    display: none;
}


.card-info-container{
    grid-column-start: 2;
    height: 22vh;
    
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    padding-left: 10px;
}
.col1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.col2{
    grid-column-start: 2;
    grid-column-end: 5;
}
.row1{
    grid-row-start: 1;
    grid-row-end: 2;

}
.row2{
    grid-row-start: 2;
    grid-row-end: 3;
}
.row3{
    grid-row-start: 3;
    grid-row-end: 4;
}
.row4{
    grid-row-start: 4;
    grid-row-end: 5;
}
.row5{
    grid-row-start: 5;
    grid-row-end: 6;
}
.row6{
    grid-row-start: 6;
    grid-row-end: 7;
}
.label{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.values{
    margin-top: 2px;
    margin-left: 5px;
    font-size: 20px;
    color: white;
}
.addressInput{
    margin-left: 10px;
    margin-top: 5px;
    height: 22px;
    
}
.submit-container,.icons-container{
    display: flex;
    flex-direction: row;
}

.icons-container{
    grid-column-start: 5;
    margin-left: 10px;
}