.main-forgot-password-modal-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-color: #275143;
    border-radius: 40px;
    padding: 30px;
    color: white;
}

.main-forgot-password-modal-card:focus {
    outline: none;
}

.main-forgot-password-modal-card .modal-text {
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: bold;
}

.main-forgot-password-modal-card .login-button {
    background-color: #FFDC62;
    color: #E2743E;
    height: 65px;
    width: 220px;
    text-transform: none;
    font-size: xx-large;
    font-weight: bolder;
    border-radius: 13px;
}

.main-forgot-password-modal-card .login-button:hover {
    background-color: #d5b952;
}

#modal-logo {
    height: 190px;
    width: 190px;
    margin-left: 15px;
}

::placeholder {
    color: #275143;
    font-family: Arial, sans-serif;
    /* Specify the font-family */
    opacity: 1;
}

:-ms-input-placeholder {
    color: #275143;
    font-family: Arial, sans-serif;
    /* Specify the font-family */
}

::-ms-input-placeholder {
    color: #275143;
    font-family: Arial, sans-serif;
    /* Specify the font-family */
}

.main-forgot-password-modal-card .white-link {
    color: white;
    text-decoration-color: white;
    cursor: pointer;
    /* Explicitly sets the underline color */
}