.homepage-container{
    height: 100vh;
    width: 100%;
    border: 0px orange solid;
}
.row{
    width: 100vw;
    height: 29%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    padding-left: 26px;
}

.promo-cards-row{
    display: flex;
    flex-direction: row;
    
   
    height: 70%;
    gap: 5%;
    margin-top: 16px;

}
.section{
    margin-top: 16px;
    font-size: 30px;
    font-weight: bold;
    color: #275143;
    margin-bottom: 20px;
}

.freq-cards-row{
    
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 5%;
}

.freqB{
    width: 300px;
    height: 100%;
    background-color: #00B569;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.freqB:hover{
    background-color: white;
    color: #303030;
    border: 1px #D2D2D2 solid;
}
.wish-img-row{
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 3%;
    align-items: center;
}
.wish-img{
    height: 80%;
    width:150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    border-radius: 5px;
   
}

.wish-name {
    width: 150px;
    text-align: center;
    margin-top: 5px; 
    color: #E2743E;
    font-size: 15px;
    font-weight: bold;
}

.sign-in-wish {
    width: 250px;
    text-align: center;
    margin-bottom: 6%;
    color: #E2743E;
    font-size: 20px;
    font-weight: bold;
}