.item-card1-container{
    margin-top: 10px;
    height: 90%;
    width: 150px;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-contain{
    height: 80%;
}
.item-img{
    height: 90%;
    width: 130px;
    
   
    
   
    
    overflow: hidden;
    border-radius: 10%;
    object-fit: fill;
}
.item-name{
    color: white;
   
    text-align: center;
    display: -webkit-box;
   -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    
}