.promotions-container{
    
    
    width: 100vw;
    height: 25vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
#promo-label{
    margin-left: 30px;
    background-color: white;
    color: black;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
}